{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Azure Fresh!</h1>
    <p class="lead">Your online source for fruits and vegetables!</p>
</div>
<div class="row">
    <div class="col-md-3">
        {% for i in products %}
            {% if forloop.counter0|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            <a href="{% url 'product' %}{{i.id}}">
                <img src="{{base_image_url}}{{i.image_link}}" width="200" />
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}
