{% if user.is_authenticated %}
<form id="logoutForm" action="/accounts/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand"><a href="{% url 'profile' %}">Hello {{ user.username }}!</a></span></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'auth_login' %}">Log in</a></li>
</ul>

{% endif %}
